body{
    width: 450px;
}

.myContainer{
    padding-left: 10px;
    padding-right: 10px; 
    padding-top: 8px; 
    margin: 4px; 
}

.error_div{
    padding: 5px;
}

a {
    text-decoration: none !important;
}

#help{
    padding: 3px;
}

.w-45{
    width: 45% !important;
}

#btn_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.item {
    position:relative;
    display:inline-block;
    margin-right: 18px;
}
#badge{
    position: absolute;
    right:-5px;
    top:3px;
}

/* ====================================================== */

#spinner_bottom{
    height: 80px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 42px;
    font-size: 0;
}

.spinner-container {
    width: 100%;
    height: 100%;
    -webkit-animation: container-rotate 1568ms linear infinite;
}

@-webkit-keyframes container-rotate {
    to {
        transform: rotate(360deg);
    };
}

.spinner-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.spinner-layer--blue {
    border-color: #4285f4;
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both,blue-fade-in-out 5332ms cubic-bezier(.4, 0, .2, 1) infinite both;
}

.spinner-layer--red {
    border-color: #db4437;
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both,red-fade-in-out 5332ms cubic-bezier(.4, 0, .2, 1) infinite both;
}

.spinner-layer--yellow {
    border-color: #f4b400;
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both,yellow-fade-in-out 5332ms cubic-bezier(.4, 0, .2, 1) infinite both;
}

.spinner-layer--green {
    border-color: #0f9d58;
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both,green-fade-in-out 5332ms cubic-bezier(.4, 0, .2, 1) infinite both;
}

@-webkit-keyframes fill-unfill-rotate {
    12.5% {
        transform: rotate(135deg);
    }

    25% {
        transform: rotate(270deg);
    }

    37.5% {
        transform: rotate(405deg);
    }

    50% {
        transform: rotate(540deg);
    }

    62.5% {
        transform: rotate(675deg);
    }

    75% {
        transform: rotate(810deg);
    }

    87.5% {
        transform: rotate(945deg);
    }

    to {
        transform: rotate(1080deg);
    };
}

@-webkit-keyframes blue-fade-in-out {
    from {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    26% {
        opacity: 0;
    }

    89% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    };
}

@-webkit-keyframes red-fade-in-out {
    from {
        opacity: 0;
    }

    15% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    51% {
        opacity: 0;
    };
}

@-webkit-keyframes yellow-fade-in-out {
    from {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    76% {
        opacity: 0;
    };
}

@-webkit-keyframes green-fade-in-out {
    from {
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    };
}

.spinner-clipper {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-color: inherit;
}

.spinner-circle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 200%;
    height: 100%;
    border-color: inherit;
    border-bottom-color: transparent !important;
    border-style: solid;
    border-width: 3px;
    border-radius: 50%;
    -webkit-animation: none;
}

.spinner-clipper--left .spinner-circle {
    border-right-color: transparent !important;
    transform: rotate(129deg);
    -webkit-animation: left-spin 1333ms cubic-bezier(.4, 0, .2, 1) infinite both;
}

.spinner-clipper--right .spinner-circle {
    left: -100%;
    border-left-color: transparent !important;
    transform: rotate(-129deg);
    -webkit-animation: right-spin 1333ms cubic-bezier(.4, 0, .2, 1) infinite both;
}

@-webkit-keyframes left-spin {
    from {
        transform: rotate(130deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(130deg);
    };
}

@-webkit-keyframes right-spin {
    from {
        transform: rotate(-130deg);
    }

    50% {
        transform: rotate(5deg);
    }

    to {
        transform: rotate(-130deg);
    };
}

.spinner--patch {
    position: absolute;
    top: 0;
    left: 45%;
    width: 10%;
    height: 100%;
    overflow: hidden;
    border-color: inherit;
}

.spinner--patch .spinner-circle {
    left: -450%;
    width: 1000%;
}

.login-input-div{
    width: 80%;
    margin-left: 10%;
}

.input-form{
    display: block;
    width: 100%;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}